{% extends "base.html" %}
{% block content %}
<div class="submit-post">
  <form action="/submit-post" method="post">
    <div class="submit-lostfound">
      <span class="lost submit-radio">
        <input type="radio" name="category" value="lost" id="lost" />
        <label for="lost">Lost</label>
      </span>
      <span class="found submit-radio">
        <input type="radio" name="category" value="found" id="found" />
        <label for="found">Found</label>
      </span>
    </div>
    <div> Title:
      <input type="text" required ="true" maxlength="100" name="title" />
    </div>
    <div> Description:
      <textarea required ="true" maxlength="800" name="desc"></textarea>
    </div>
    <div> Email:
      <input type="text" required ="true" maxlength="80" name="email" />
    </div>

    <div class="submit-wrapper">
      <input type="submit" class="submit-button" value="Submit">
    </div>
  </form>
</div>
{% endblock %}
