/* -- general styling -- */

textarea {
  font-family: inherit;
  font-size: inherit;
}

body {
  font-family: 'Rambla', sans-serif;
  background-color: #ffffff;
  /*background-image: url("/images/pattern.png");*/
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* -- header styling -- */

.header-wrapper {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #efefef;
}

.header-title {
  font-size: 48px;
  text-decoration: none;
}

.header-wrapper a:hover {
  text-decoration: none;
}

.header-submit {
  font-size: 18px;
}

/* -- sidebar styling -- */

.sidebar-wrapper {
  padding: 0px;
  background-color: #efefef;
}

.sidebar-content {
  padding: 12px;
}

.sidebar-submit {
  padding: 12px;
  background-color: #efefef;
}

.sidebar-footer {
  margin-top: 12px;
  font-size: 12px;
  background-color: #efefef;
  padding: 12px;
}

.sidebar-footer p {
  margin: 0px;
}

/* -- post styling -- */

.post-wrapper {
  background-color: #efefef;
  margin-bottom: 12px;
}

.post-title {
  font-weight: bold;
  font-size: 18px;
}

.post-content {
  padding: 12px;
}

.lost {
  background-color: #FFD073;
}

.found {
  background-color: #689cd2;
}

/*.lost {
  background-color: #A60000;
}

.found {
  background-color: #009999;
}*/

/*.lost {
  background-color: #FF8330;
}

.found {
  background-color: #3AAACF;
}*/

.lost, .found {
  padding: 6px 12px 6px 12px;
  text-decoration: none;
  border: 1px;
  color: black;
  font-size: 12px;
}

/* -- submission styling -- */

.submit-post {
  background-color: #efefef;
  padding: 12px;
}

.submit-post textarea {
  background-color: inherit;
  width: 100%;
}

.submit-wrapper {
  text-align: center;
  background-color: #efefef;
}

.submit-button {
  border: none;
  background-color: #efefef;
  font-family: inherit;
  font-size: inherit;
  text-decoration: underline;
}

.submit-radio {
  width: 50%;
  float: left;
}

.submit-radio input {
  border: none;
  background: none;
  width: 100%;
}

.hidden-input {
  display: none;
}

input, textarea {
  background-color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border: 1px #cdcdcd solid;
}

/* -- confirmation page -- */

.confirm-wrapper {
  background-color: #efefef;
  padding: 12px;
}

/* -- contact form -- */
.contact-wrapper {
  background-color: #efefef;
  padding: 12px;
}

/* -- unsub page -- */
.unsub-wrapper {
  background-color: #efefef;
  padding: 12px;
}
